<div class="home-view">
    <div class="side-menu">
        <h1>Bloc Chat</h1>
        <div>
            <button ng-click="room.addNew()" type="button">New room</button>
        </div>

        <div class="room-link" ng-repeat="data in room.rooms track by $index">
            <div ng-click="room.setActiveRoom(data)">{{data.$value}}</div>
        </div>
    </div>
    <main class="message-content">
        <h3 class="room-header">
            {{ room.currentRoom.$value }}
        </h3>
        <div class="room-messages">
            <div class="message" ng-repeat="message in room.currentRoom.currentMessages">
                <div class="message-username">{{ message.username }}</div>
                <div class="message-timestamp">{{ message.sentAt }}</div>
                <div class="message-content">{{ message.content }}</div>
            </div>
        </div>
    </main>
</div>
